<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>nw.js-examples | clipboard</title>
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Clipboard</h2>
            </div>
            <div class="card-block">
                <p class="h4">Copy something from the text below and click "View clipboard"</p>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet.
                </p>
                <hr>
                <button class="btn btn-primary">View clipboard</button>
                <p class="alert alert-info mt-1" data-clipboard="true">
                    Your clipboard content will be shown here
                </p>
            </div>
            <div class="card-footer">
                <a href="main.html" class="btn btn-primary btn-back">
                    <i class="fa fa-chevron-left"></i>Back to home
                </a>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../app/clipboard.js"></script>
</body>
</html>
