<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>nw.js-examples | home</title>
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Examples</h2>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="menu.html" class="list-group-item">
                        <i class="fa fa-bars fa-fw"></i>Menu
                    </a>
                    <a href="context-menu.html" class="list-group-item">
                        <i class="fa fa-list fa-fw"></i>Context Menu
                    </a>
                    <a href="devtools.html" class="list-group-item">
                        <i class="fa fa-html5 fa-fw"></i>Developer Tools
                    </a>
                    <a href="clipboard.html" class="list-group-item">
                        <i class="fa fa-clipboard fa-fw"></i>Clipboard
                    </a>
                    <a href="shell.html" class="list-group-item">
                        <i class="fa fa-desktop fa-fw"></i>Shell
                    </a>
                    <a href="tray.html" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i>Tray
                    </a>
                    <a href="nodejs-integration.html" class="list-group-item">
                        <i class="fa fa-code fa-fw"></i>Node.js Integration
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
